.notification-page {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.notification-card {
  background: #f1f5f9;
  border-left: 5px solid #0ea5e9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
}
